body {
  padding: 0;
  margin: 0;
  /* position: relative; */
  width: 1300px;
  margin: 0 auto;
}

header {
  width: 1300px;
  margin: 0 auto;
  text-align: center;
  padding: 1px 0;
  background-color: #4d4646;
  font-family: sans-serif;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.list li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  padding: 10px;
  list-style: none;
  color: white;
  font-size: 17px;
}

ul li a:hover {
  color: yellow;
}

.header-content {
  text-align: center;
  color: white;
  font-size: 20px;
  background: #4d4646;
  border-radius: 0 0 7px 7px;
  padding: 10px 0;
}

main {
  width: 1300px;
  margin: 0 auto;
}

.about-content {
  padding: 10px 0;
  text-align: center;
  border-radius: 8px;
  margin-top: 40px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.about-img {
  margin-top: 30px;
  width: 130px;
  display: inline-block;
}

.about-img img {
  width: 100%;
  border-radius: 50%;
}

.skills-container {
  margin: 50px 0;
  background-image: url("../images/AdobeStock_287118717-1000x500.jpeg");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
  background-blend-mode: multiply;
  background-color: #4545d1;
  /* filter: blur(1px); */
  opacity: 0.7;
  position: relative;
}

.skills-container h2 {
  text-align: center;
  color: white;
  padding: 10px;
}

.skills-content {
  background-color: #f5f5f591;
  border-radius: 7px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.skills-content p {
  display: inline-block;
  background-color: yellowgreen;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  margin: 10px;
  transition: transform 0.3s;
}

.skills-content p:hover {
  transform: scale(1.1);
}

.arrow {
  background-color: yellow;
  width: 40px;
  border-radius: 50px;
  height: 40px;
  text-align: center;
  font-size: 30px;
  color: white;
  padding: 5px;
  margin: 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.projects-container {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 50px 0;
  padding: 10px;
  text-align: center;
}

.projects-container .h {
  color: gray;
}
.box {
  margin: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #6d6d7c;
  width: 300px;
  padding: 10px;
  border-radius: 7px;
  font-size: 16px;
  color: white;
  height: 430px;
  display: inline-block;
  vertical-align: top;
}

.box-img {
  text-align: center;
  width: 150px;
  margin: 0 auto;
  height: 200px;
}

.box-img h2 {
  max-height: 38px;
  font-size: 20px;
}

.box-img img {
  max-width: 100%;
  margin: 10px;
  height: 65%;
}

.projects-content {
  max-height: 130px;
}

.projects-container .btn {
  display: block;
  width: 100%;
  background-color: #c2c2c2;
  color: white;
  border: none;
  padding: 7px;
  font-size: 15px;
  border-radius: 7px;
  transition: transform 0.3s;
}

.projects-container .btn:hover {
  color: gray;
  background-color: white;
  transform: scale(0.9);
}
.contact {
  width: 1300px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* text-align: center; */
  margin: 50px 0;
}

.contact-form {
  margin: 10px auto;
  padding: 10px;
  width: 60%;
}
.form-text-intro {
  text-align: center;
}

label {
  display: block;
}
input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  border: none;
  height: 25px;
  margin: 13px 0;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  outline: none;
  font-size: 13px;
}

textarea {
  border-radius: 5px;
  width: 100%;
  height: 100px;
  border: none;
  background-color: #f9f9f9;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  margin: 13px 0;
}

textarea:focus {
  outline: none;
  font-size: 13px;
}

.btn-form {
  width: 100%;
  padding: 10px;
  background-color: grey;
  border: none;
  font-size: 16px;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}

::placeholder {
  font-size: 10px;
  padding: 10px;
}

.footer-content {
  background-color: grey;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.footer-content a {
  text-decoration: none;
  color: blue;
}
